$width-sidebar: $width-xs;

/*=== APP ===*/

#app {
	font-size: $font-size-base;
	line-height: $vertical-rhythm; //1.47059;
	font-weight: $font-weight-normal;
	letter-spacing: -0.022em;
	font-family: $font-default;
	#sidebar.open + .content {
		margin-left: $width-sidebar;
	}
}
