$width-sidebar: 16rem;

/*=== APP ===*/

#app {
	font-size: $font-size-base;
	line-height: $vertical-rhythm; //1.47059;
	font-weight: $font-weight-normal;
	letter-spacing: -0.022em;
	font-family: $font-default;
	.content {
		.mu-drawer {
			width: $width-sidebar;
			.mu-item {
				padding-top: 28px;
				padding-bottom: 28px;
			}
			.mu-item.show-left {
				padding-left: 56px;
			}
		}
		.content-left.open + .content-right {
			margin-left: $width-sidebar;
		}
		.content--main {
			padding: 0.66em 1.166em 3.33em 1.166em;
		}
	}
	.logo {
		display: inline-block;
		vertical-align: middle;
		line-height: 0;
		width: 100%;
		text-align: center;
	}
	.router-link-exact-active {
		background-color: $color-accent;
		color: $color-text-ui;
	}
	.router-link-active {
		text-decoration: underline;
	}
}
