$width-sidebar: $width-xs;

/*=== APP ===*/

#app {
	font-size: $font-size-base;
	line-height: $vertical-rhythm; //1.47059;
	font-weight: $font-weight-normal;
	letter-spacing: -0.022em;
	font-family: $font-default;
	.content {
		.content-left.open + .content-right {
			margin-left: $width-sidebar;
		}
	}
	.logo {
		text-align: center;
		line-height: 0;
	}
	.router-link-exact-active > a {
		background-color: $color-accent;
		color: $color-text-ui;
	}
	.router-link-active > a {
		text-decoration: underline;
	}
}
